@import "tailwindcss";

:root {
  --background: #FFEBEE;
  --foreground: #3E3E3E;
  --primary-font: 'Sour Gummy', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--primary-font);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 25px;
}

button {
  border: 0.15rem solid;
  padding: 0 1rem;
  border-radius: 5rem;
  cursor: pointer;
}